@model SV21T1020123.Shop.Models.OrderSearchResult
@{
    Layout = null;
}   
<p>Có <strong>@Model.RowCount</strong> đơn hàng trong tổng số <strong>@Model.PageCount</strong> trang</p>
    <table class="table table-light table-bordered table-hover text-center mt-5 mb-0">
        <thead class="thead-dark">
            <tr>
                <th>Khách hàng</th>
                <th>Ngày lập</th>
                <th>Nhân viên phụ trách</th>
                <th>Thời điểm duyệt</th>
                <th>Người giao hàng</th>
                <th>Ngày nhận giao hàng</th>
                <th>Thời điểm kết thúc</th>
                <th>Trạng thái</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            @if (Model.data.Count>0)
            {
             foreach (var item in Model.data) {
            <tr>
                <td>@item.CustomerName</td>
                <td>@item.OrderTime.ToString("dd/MM/yyyy HH:mm", new System.Globalization.CultureInfo("en-GB"))</td>
                <td>@item.EmployeeName</td>
                <td>@string.Format(new System.Globalization.CultureInfo("en-GB"), "{0:dd/MM/yyyy HH:mm}", item.AcceptTime)</td>
                <td>@item.ShipperName</td>
                <td>@string.Format(new System.Globalization.CultureInfo("en-GB"), "{0:dd/MM/yyyy HH:mm}", item.ShippedTime)</td>
                <td>@string.Format(new System.Globalization.CultureInfo("en-GB"), "{0:dd/MM/yyyy HH:mm}", item.FinishedTime)</td>
                <td>@item.StatusDescription</td>
                <td><a href="~/Order/Details/@item.OrderID" ><i class="fa fa-list"></i></a></td>
                </tr>
            }
        }
            else
        {
            <tr>
                <td colspan="8" style="text-center">Không có đơn hàng nào!</td>
            </tr>
        }
        </tbody>
    </table>
    <div class="col-12 mt-5">
        <nav>
            <ul class="pagination justify-content-center">
            @for(int p  = 1; p <= Model.PageCount; p++)
            {
                if (p==Model.Page)
                {
                    <li class="page-item active"><a class="page-link" href="#">@p</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link"  href="javascript:;" onclick="doSearch(@p)" >@p</a></li>
                }
            }

            </ul>
        </nav>
    </div>

